aiohttp>=3.9.0
arxiv
beautifulsoup4>=4.12.0
bibtexparser
chromadb>=0.5.24
flashrank>=0.2.0
langchain-chroma>=0.1.2
langchain >= 0.3.0
langchain-community>=0.2.0
langchain-core>=0.2.0
langchain-openai>=0.1.0
langchain-text-splitters>=0.2.0
litellm>=1.40.0
lxml>=4.9.0
numpy>=1.26.0
pymupdf>=1.24.0
python-dotenv>=1.0.1
requests>=2.31.0
sentence-transformers>=3.0.0
pytest>=8.0.0